body {
    text-align: center;
    margin:0px;

    }

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
margin: 0;
}

p {
font-family: "Droid Serif", serif;
}

.mg {
    font-family: "Raleway", sans-serif;
    color: #0d2c40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 50px;
    padding:40px;
}

.ig { 
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 5px;
    padding:10px;
}

.istruct { 
    font-family: "Raleway", sans-serif;
    color: #250a02;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px; 
    padding:auto;
}

header {
    background-color:#F15B31;
    color: #ffffff;
    padding: 30px 20px;
}

nav {
   background-color :#00a6b3;
   height:40px;
}
a {
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px; 
    text-decoration: none;
}

main {
    width: 850px;
    margin: 35px auto 35px auto;
}
img {
    margin:40px 8px 0 8px;
}